.day-container {
    min-height: 200px;
}

body {
    margin: 0;
    padding: 0;
}

.silent-small-text {
    font-size: 10px;
    color: #77777785;
    font-family: Montserrat, Arial;
}


#day01 {
    width: 100px;
    height: 100px;
    background: rgb(255, 225, 0);
    border-radius: 50%;
    z-index: 2;
    position: relative;
}



#day06 {
    width: 120px;
    height: 67px;
    background: rgb(255, 191, 0);
    border-radius: 50%;
    margin-left: -10px;
    position: relative;
    top: 30px;
    padding-bottom: 30px;
}

#day06::before {
    width: 60px;
    height: 80px;
    background: rgb(255, 191, 0);
    border-radius: 50%;
    top: -18px;
    left: 30px;
    position: absolute;
    content: "";
}

#day06::after {
    width: 60px;
    height: 40px;
    box-shadow: 0px 9px 0px 0px red;
    border-radius: 50%;
    top: -5px;
    left: 30px;
    position: absolute;
    content: "";
}
